@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');

:root {
  --first: #f7fff6;
  --second: #bcebcb;
  --third: #87d68d;
  --forth: #93b48b;
  --fifth: #228b22;
}
body {
  margin: 0;
  font-family:"Edu VIC WA NT Beginner", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--second);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.smColor{
  background-color: var(--first) !important;
}
.third {
  color: var(--fifth);
}